* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body{
  padding: 5px;
  min-height: 100vh;
}

.App {
  text-align: center;
}

header{
  position: fixed;
  z-index: 1;
  top: 0%;
  width: 100%;
  
}

main{
  margin-left: 0.5vw;
  margin-right: 0,5vw;  
  margin-top: 10vh;
}

.carrito{
  height: 3vh;
  width: 3vw;
  margin-right: -1vw;
  margin-left: -1vw;
}

.circulo{
  display: flex;
  margin-right: 1vw;  
}


.cWidth{
  width: 18rem;
}

h1{
  text-align: center;
}

.menuItem{
  font-weight: bold;
  color:black;
}